body{
    max-width: 823px;
    /*background-image: url("../../kartinky_dlya_proekta/bg.jpg");*/
}
.background{
    background-repeat: repeat-y;
}
h1{
    color:green;
}

a{
    color: black;

}

.absolutaly-basketball{
    display: flex;
    color: black;
    justify-content: center;
}

.absolutely-tablichka__title{
    display: flex;
    justify-content: center;
}

.absolutely-tablichka__title_red{
    color: red;
}

.basketball-some_text{

    font-size: 20px;
    font-weight: 350;
    letter-spacing: 8.95px;
    text-align: center;
    padding: 0px 0px 30px 0px;
}
.title{
    margin: 0px 0px 30px 0px;
}
a:hover{
    font-size: 16px;
}
.basketball-title{
    color:black;
    text-align: center;
}

img{
    opacity:0.7;
    box-shadow:3px 3px 7px mediumblue;
}

td{
    text-align: center;
}

table{
    border-radius:2px;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.header-title {
    display: flex;
    justify-content: center;
}

.header-description {
    display: flex;
    justify-content: center;
    border: 2px blue solid;

}

.bg {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.bg-image {
    width: 100%;
    height: 100vh;
}

.absolutaly-basketball {

}