<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hobby</title>
    <link href="{{ url_for('static', filename='style.css') }}
" rel="stylesheet" type="text/css">
</head>
<body>
<div class="absolutely">
    <!--<img src="{{url_for('static', filename='Hermes.png')}}/>-->
    <div class="absolutely-background">
        <img class="bg-image" src="{{url_for('static', filename='bg_1.jpg')}}">
    </div>

    <div class="header">
        <div class="header-title"><h1>Мои хобби....</h1></div>
        <div class="header-description"><h3>Всем Привет! Меня зовут Олег и это мой первый блог о себе)</h3></div>
    </div>
    <p>
    <div class="<absolutely-travel">
        <div class="absolutely-travel__sometext">
            Сегодня я хочу поделиться с вами , как я провожу свободное время.
            Раньше большую часть своего времени я проводил в путешествиях.
            За свои 20 лет я успел посетить более ,чем десять стран мира и был за границей более 40 раз.
        </div>
        <div class="absolutely-table">
            <ul>
                <li>Китай</li>
                <li>Австралия</li>
                <li>Новая Зеландия</li>
                <li>Вьетнам</li>
                <li>Тайланд</li>
                <li>Корея</li>
                <li>Бангкок</li>
                <li>США</li>
                <li>Канада</li>
                <li>Мексика</li>
                <li>Турция</li>
                <li>Мальта</li>
            </ul>
        </div>
        <div class="">
            Но сейчас я трачу много времени на учебу и саморазвитие и не могу путешествовать столько же.<br>
        </div>
        </p>
        <p>
        <div class="absolutaly-basketball">
            <div class="basketball-some_text">
                Как и многи люди я занимаюсь спортом.<br>
                И отдаю свое предпочтение баскетболу.<br>
                Этот вид спорта затянул меня ещё с детства и по сей день я играю в него.<br>
                Как бы я сильно не любил баскетбол, но я не являюсь большым фанатам разных звезд бакскетбола.<br>
            </div>
            <div class="basketball-string">
                <div class="basketball-column">

                    <div class="basketball-title">
                         <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%BE%D1%80%D0%B4%D0%B0%D0%BD,_%D0%9C%D0%B0%D0%B9%D0%BA%D0%BB">
                             Майкла Джордана</a>
                    </div>
                    <div class="basketball-picture">
                        <img src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcRgexJ5aVLMRh8pTx4ktKg3JtDIFtxPR7DCPXkbqoUSA1vx6RBwb4TUGLKMW5fl"
                             width="120px"><br>
                    </div>
                </div>
                <div class="basketball-column">
                    <div class="basketball-title" >
                         <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%B5%D0%B9%D0%BC%D1%81,_%D0%9B%D0%B5%D0%B1%D1%80%D0%BE%D0%BD">
                             Джеймса Леброна</a>
                    </div>
                    <div class="basketball-picture">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd4WqNd10KT1WGoXue1fNAX10QSL5Y8BljMw&usqp=CAU"
                             width="120px"><br>
                    </div>
                </div>
                <div class="basketball_column">
                    <div class="basketball-title">
                        <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D1%80%D1%80%D0%B8,_%D0%A1%D1%82%D0%B5%D1%84%D0%B5%D0%BD">
                            Стефана Карри </a>
                    </div>
                </div>
                    <div class="basketball-picture">

                        <img src="https://www.slamdunk.ru/uploads/monthly_2020_04/0546703.jpg.44246efb3d5486387c1609bcbb10dfc6.jpg.efba9e0ec537526abdea07fb73e25e92.jpg"
                             width="120px"><br>
                    </div>
            </div>
        </div>
        <div class="absolutely-games">
            <div class="absolutely-some_text">
                А еще мне нравиться играть в всякие игрушки.
            </div>
            <div class="absolutely-picture">
                <img src="http://memchik.ru/images/mems/5b1c398705c11.jpg" width="240">
            </div>
            <div class="absolutely-some_text">
                Интересуют меня из жанров в основном карточные игры ,moba, fightings и shooters.
                Из краточных игр могу выделить <a href="https://playhearthstone.com/ru-ru">Hearthstone</a>
            </div>
            <div class="absolutely-vidio">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KyBDy2pu7Bs"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="absolutely-some_text">
                Из moba это<a href="https://www.dota2.com/home">
                DOTA2</a>
                Из fightings это<a href="https://store.playstation.com/ru-ru/product/EP1018-CUSA00970_00-MORTALKOMBATX000">
                Mortal Combat X</a>
                А из shooters это наверное <a href="https://www.callofduty.com/ru/home">
                Call of Duty</a>
            </div>
        </div>
        <div class="absolutely-tablichka">
            <div class="absolutely-tablichka__title">
                В общем можно составить небольшую таблицу из хобби и подвести какие-нибудь итоги.
            </div>
            <div class="absolutely-tablichka__title_red">
                В общем можно составить небольшую таблицу из хобби и подвести какие-нибудь итоги.
            </div>
            <div class="absolutely-tablichka__znacheniy">
                <table border="1" bgcolor="#8a2be2">
                    <tr>
                        <th>Хобби</th>
                        <th>Затраты по времени</th>
                        <th>Затраты по средствам</th>
                    </tr>
                    <tr>
                        <td>Путешествие</td>
                        <td>Большие</td>
                        <td>Большие</td>
                    </tr>
                    <tr>
                        <td>Спорт</td>
                        <td>Небольшие</td>
                        <td>Небольшие</td>
                    </tr>
                    <tr>
                        <td>Игры</td>
                        <td>Средние</td>
                        <td>Средние</td>
                    </tr>
                </table>
            </div>
        </div>
<!--        <iframe src="http://hs-manacost.ru/" width="468" height="60" align="left">-->
<!--            Ваш браузер не поддерживает плавающие фреймы!-->
<!--        </iframe>-->

    </div>
</div>
</body>
</html>